$background: #af8466;

.titleContainer {
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background;
  border-radius: 0 0 30px 30px;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
